In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from statsmodels.tsa.arima.model import ARIMA
from statsmodels.tsa.seasonal import STL

# Load the CSV file into a DataFrame
df = pd.read_csv("fb.us.csv", parse_dates=['Date'], index_col='Date')

# Display the first few rows of the DataFrame
print(df.head())

                 Open       High        Low      Close  Adj Close     Volume
Date
2012-05-18  42.049999  45.000000  38.000000  38.230000  38.230000  573576400
2012-05-21  36.529999  36.660000  33.000000  34.029999  34.029999  168192700
2012-05-22  32.610001  33.590000  30.940001  31.000000  31.000000  101786600
2012-05-23  31.370001  32.500000  31.360001  32.000000  32.000000   73600000
2012-05-24  32.950001  33.209999  31.770000  33.029999  33.029999   50237200

In [2]:
df.describe()

,Open,High,Low,Close,Adj Close,Volume
count,2479.000000,2479.000000,2479.000000,2479.000000,2479.000000,2.479000e+03
mean,147.088826,148.858584,145.301033,147.125946,147.125946,3.090757e+07
std,89.687990,90.793462,88.625227,89.727593,89.727593,2.750507e+07
min,18.080000,18.270000,17.549999,17.730000,17.730000,5.913100e+06
25%,75.950001,76.879997,75.024998,75.949997,75.949997,1.580325e+07
50%,139.619995,140.580002,138.490005,139.600006,139.600006,2.242640e+07
75%,192.294998,194.245003,189.599998,192.214996,192.214996,3.591900e+07
max,381.679993,384.329987,378.809998,382.179993,382.179993,5.735764e+08

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 2479 entries, 2012-05-18 to 2022-03-24
Data columns (total 6 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Open       2479 non-null   float64
 1   High       2479 non-null   float64
 2   Low        2479 non-null   float64
 3   Close      2479 non-null   float64
 4   Adj Close  2479 non-null   float64
 5   Volume     2479 non-null   int64
dtypes: float64(5), int64(1)
memory usage: 135.6 KB

In [4]:
df.isna().sum()

Open         0
High         0
Low          0
Close        0
Adj Close    0
Volume       0
dtype: int64

In [5]:
df.isnull().sum()

Open         0
High         0
Low          0
Close        0
Adj Close    0
Volume       0
dtype: int64

In [6]:
print(df.columns

SyntaxError: unexpected EOF while parsing (4138581273.py, line 1)

In [ ]:
# Calculate 30-day and 60-day moving averages
df["30-day-average"] = df['Close'].rolling(window=30).mean()
df["60-day-average"] = df['Close'].rolling(window=60).mean()

# Plot the data
df[["Close", "30-day-average", "60-day-average"]].plot(figsize=(12, 6), label="Moving averages")
plt.legend()
plt.xlabel("Date")
plt.ylabel("Price")
plt.show()

In [ ]:
result = STL( df["Close"], period=7).fit()
fig= result.plot()
fig.set_size_inches (12,6)

In [ ]:
result = STL( df["Close"], period=30).fit()
fig= result.plot()
fig.set_size_inches (12,6)

In [ ]:
result = STL( df["Close"], period=365).fit() 
fig= result.plot()
fig.set_size_inches (12,6)

In [ ]:
corrr = df[["Volume", "Close"]].corr() 
sns.heatmap(corrr, annot=True)

In [ ]:
model = ARIMA( df["Close"], order=(2,1,2))
results model.fit()
forecast_steps = 365
forecast results. forecast (forecast_steps)
forecast forecast [1:]
forecast_index = pd.date_range (start=df.index [-1], periods=forecast_steps, closed='right')
plt.figure(figsize=(12,6))
plt.plot(forecast_index, forecast, label="Forecasted Value", color="Blue")
plt.plot(df.index, df['Close'], label="Actual Value", color="Red")
plt.legend() plt.show()
C:\Users\lenovo\AppData\Local\Programs\Python\Python310\lib\site-packages\statsmodels\tsa\base\ts a_model.py:471: ValueWarning: A date index has been provided, but it has no associated frequency information and so will be ignored when e.g. forecasting.
self._init_dates (dates, freq)
C:\Users\lenovo\AppData\Local\Programs\Python\Python310\lib\site-packages\statsmodels\tsa\base\ts a_model.py:471: ValueWarning: A date index has been provided, but it has no associated frequency information and so will be ignored when e.g. forecasting.
self._init_dates (dates, freq)
C:\Users\lenovo\AppData\Local\Programs\Python\Python310\lib\site-packages\statsmodels\tsa\base\ts a_model.py:471: ValueWarning: A date index has been provided, but it has no associated frequency information and so will be ignored when e.g. forecasting.
self._init_dates (dates, freq)
C:\Users\lenovo\AppData\Local\Programs\Python\Python310\lib\site-packages\statsmodels\tsa\base\ts a_model.py:834: ValueWarning: No supported index is available. Prediction results will be given w ith an integer index beginning at start.
return get_prediction_index(
C:\Users\lenovo\AppData\Local\Temp\ipykernel_17364\930545061.py:6: FutureWarning: The behavior of series[ij] with an integer-dtype index is deprecated. In a future version, this will be treate d as *label-based indexing, consistent with e.g. series[i] lookups. To retain the old behavio r, use series.iloc[i:j]. To get the future behavior, use `series.loc[ij]`. forecast forecast [1:]
C:\Users\lenovo\AppData\Local\Temp\ipykernel_17364\930545061.py:7: FutureWarning: Argument `close d is deprecated in favor of inclusive`. forecast_index = pd.date_range (start=df. index [-1], periods-forecast_steps, closed='right')
175
Forecasted Value Actual Value
150
125-
100-
75
50
25
2013
2014
2015
2016
2017
2018
2019