In [1]:
import requests
import pandas as pd
import json
import matplotlib.pyplot as plt
import seaborn as sns

API_key = '89b6535b863227f5b3200a4f58ca7650'

countries = ['Jamaica', 'Indonesia', 'United States', "Turkey", 'Saudi Arabia', "Egypt", 'China']

country_name_list = []
maxtemp = []
mintemp = []
humidity = []
windspeed= []

for country_names in countries:
    
    url = f'http://api.openweathermap.org/data/2.5/weather?q={country_names} &APPID={API_key}&units=imperial'
    
    r = requests.get(url)
    
    data= r.json()
    
    formatted_json = json.dumps (data, sort_keys = True, indent = 4)
    
    country_name_list.append(data['name'])
    maxtemp.append(data['main']['temp_max'])
    mintemp.append(data['main']['temp_min'])
    humidity.append(data['main']['humidity'])
    windspeed.append(data['wind']['speed'])
    
df = pd.DataFrame()
df['Names'] = country_name_list
df['Max Temp'] = maxtemp
df['Min_Temp'] = mintemp
df['Humidity'] = humidity
df['WindSpeed'] = windspeed


df.head()

KeyError: 'name'

In [ ]:
df.isna().sum()

In [ ]:
df.duplicated().sum()

In [ ]:
df.describe()

In [ ]:
df.info()

In [ ]:
plt.figure(figsize=(12,6))
plt.bar(df[ 'Names'], df[ 'Max_Temp'], color='crimson') plt.title("Max Temperature in different countries")
plt.ylabel("Temperature")
plt.show()

In [ ]:
plt.figure(figsize=(12,6))
plt.bar(df['Names'], df[ 'Min_Temp'], color='skyblue') 
plt.title("Min Temperature in different countries")
plt.ylabel("Temperature")
plt.show()

In [ ]:
plt.figure(figsize=(12,6))
plt.bar(df[ 'Humidity'], df[ 'Min_Temp'], color= 'lightgreen') 
plt.title("Temperature to Humidity relationship")
plt.ylabel("Temperature")
plt.xlabel("Humidity")
plt.show()