In [1]:
import numpy as np 
import pandas as pd 
from sklearn.feature_extraction.text import CountVectorizer, TfidfTransformer 
from sklearn.naive_bayes import MultinomialNB
from sklearn.model_selection import train_test_split 
from sklearn.metrics import classification_report, confusion_matrix, accuracy_score

In [2]:
data=pd.read_csv('spam_assassin.csv')

In [3]:
data=data.dropna()

In [4]:
data.head()

                                                text  target
0  From ilug-admin@linux.ie Mon Jul 29 11:28:02 2...       0
1  From gort44@excite.com Mon Jun 24 17:54:21 200...       1
2  From fork-admin@xent.com Mon Jul 29 11:39:57 2...       1
3  From dcm123@btamail.net.cn Mon Jun 24 17:49:23...       1
4  From ilug-admin@linux.ie Mon Aug 19 11:02:47 2...       0

In [5]:
data.tail()

                                                   text  target
5791  From ilug-admin@linux.ie Mon Jul 22 18:12:45 2...       0
5792  From fork-admin@xent.com Mon Oct 7 20:37:02 20...       0
5793  Received: from hq.pro-ns.net (localhost [127.0...       1
5794  From razor-users-admin@lists.sourceforge.net T...       0
5795  From rssfeeds@jmason.org Mon Sep 30 13:44:10 2...       0

In [6]:
X = data['text']  # Assuming 'text' contains your input text data.
y = data['target']  # Assuming 'label' contains the class labels (spam or not spam).

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [7]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [8]:
vectorizer = CountVectorizer() 
tfidf_transformer = TfidfTransformer() 
X_train_counts = vectorizer.fit_transform(X_train) 
X_train_tfidf = tfidf_transformer.fit_transform(X_train_counts)

In [9]:
clf = MultinomialNB() 
clf.fit(X_train_tfidf, y_train)

MultinomialNB()

In [10]:
X_test_counts = vectorizer.transform(X_test) 
X_test_tfidf = tfidf_transformer.transform(X_test_counts) 
y_pred = clf.predict(X_test_tfidf)

In [11]:
 print("Classification Report:") 
print(classification_report(y_test, y_pred)) 
print("\nConfusion Matrix:") 
print(confusion_matrix(y_test, y_pred)) 
print("\nAccuracy Score:", accuracy_score(y_test, y_pred))

Classification Report:
              precision    recall  f1-score   support

           0       0.87      1.00      0.93       779
           1       1.00      0.70      0.82       381

    accuracy                           0.90      1160
   macro avg       0.94      0.85      0.88      1160
weighted avg       0.91      0.90      0.90      1160


Confusion Matrix:
[[779   0]
 [115 266]]

Accuracy Score: 0.9008620689655172